body {
margin: 0;
font-family: sans-serif;
background: #1e1e1e;
color: #fff;
}

#editor {
height: 100vh;
width: 100%;
}

.theme-container {
position: fixed;
top: 25px;
right: 35px;
z-index: 1000;
}

.theme-button {
background-color: #6200ea;
box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
border-radius: 4px;
padding: 10px;
color: white;
font-size: 14px;
border: none;
cursor: pointer;
display: flex;
align-items: center;
justify-content: center;
transition: transform 0.3s ease;
}

.theme-button:hover {
background-color: #3700b3;
}

.fab-container {
position: fixed;
bottom: 35px;
right: 35px;
z-index: 1000;
}

.fab {
width: 56px;
height: 56px;
background-color: #6200ea;
border-radius: 50%;
box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
color: white;
font-size: 24px;
border: none;
cursor: pointer;
display: flex;
align-items: center;
justify-content: center;
transition: transform 0.3s ease;
}

.fab:hover {
background-color: #3700b3;
}

.fab-options {
position: absolute;
bottom: 70px;
right: 0;
display: flex;
flex-direction: column;
align-items: flex-end;
gap: 10px;
}

.fab-option {
background-color: #03dac6;
color: white;
padding: 8px 12px;
border-radius: 4px;
font-size: 14px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
cursor: pointer;
white-space: nowrap;
transition: all 0.3s;
}

.fab-option:hover {
background-color: #018786;
}

#fileInput {
display: none;
}

.ace_variable.language { color: #f1fa8c; font-weight: bold; }
.ace_support.function.dialog { color: #8be9fd; }
.ace_support.function.item { color: #50fa7b; }
.ace_support.function.rathena { color: #ffb86c; }
.ace_keyword.control { color: #ff79c6; font-weight: bold; }